.app{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.app h1{
    font-size:50px;
    margin:10px;
}

.container-pokemon{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.button{
    width:70px;
    height:30px;
    margin:5px;
    font-size:15px;
    font-weight:bold;
    border-color:transparent;
    border-radius:5px;
    background-color:#cac1cc;
    cursor:pointer;
    transition: background-color 1s;
}

.button:hover{
    background-color:transparent;
}

.button:disabled{
    display:none;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.spinner{
  margin: 350px 0 350px 0;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}